.list a:hover,
.list a.active {
  font-weight: bolder;
}

@media (max-width: 576px) {
  .navigation {
    display: flex;
    justify-content: center !important;
  }

  .logo {
    margin: 0 !important;
  }
}
